.header {
  width: 100%;
  height: 15%;
  background-color: #000;
  position: absolute;
}

.container {
  color: white;
  height: 20%;
}

.page-footer {
  position: absolute;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  background-color: #000;
  width: 100%;
  height: 15%;
}
