//.header {
//  width: 100%;
//  background-color: #000;
//  position: absolute;
//}
//
//.container {
//  color: white;
//  height: 20%;
//}

.row {
  background-color: black;
  width: 100%;
  color: white;
  height: 60px;
  font-size: large;
  margin-bottom: 0px;
}

.footer-copyright {
  position: absolute;
  bottom: -100px;
  background-color: #000;
  width: 100%;
  color: white;
  padding-top: 30px;
}
